[Unit]
Description="Animechan API Service"
After=network.target

[Service]
Environment="PATH=/root/n/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
WorkingDirectory=/root/animechan
ExecStart=/root/n/bin/pnpm run start
Restart=always

User=root
Group=root

LimitNOFILE=4096

[Install]
WantedBy=multi-user.target

