<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anime-Chan</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&amp;display=swap">
    </head>
    <body>
        <a class="repo" href="https://github.com/RocktimSaikia/anime-chan"
            target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
        <div class="container">
            <section>
                <header>
                    <h1 class="title">ANIME CHAN</h1>
                    <p class="sub-title">a tiny anime quote api with a huge
                        quotes database</p>
                </header>

                <section>
                    <p class="routes-header">Primary api routes</p>
                    <ul class="routes-container">
                        <li><a
                                href="https://anime-chan.herokuapp.com/api/quotes/random">
                                /api/quotes/random</a></li>
                        <li><a
                                href="https://anime-chan.herokuapp.com/api/quotes">
                                /api/quotes</a>
                        </li>
                        <li><a
                                href="https://anime-chan.herokuapp.com/api/quotes?page=2">
                                /api/quotes?page=2</a>
                        </li>
                        <li><a
                                href="https://anime-chan.herokuapp.com/api/quotes?anime=naruto">
                                /api/quotes?anime=naruto</a>
                        </li>
                    </ul>
                </section>

                <footer>
                    <p class="footer-text">coded in quarantine with <i
                            class="fas fa-heart"></i> by<a
                            href="https://github.com/rocktimsaikia"
                            target="_blank" rel="noopener">
                            rocktimsaikia</a></p>
                </footer>
                <div>

                </body>
            </html>